* {
    padding: opx;
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    background-color: blue;
    color: white;
    text-align: center;
    border: 10px solid blue
}


.search {
    padding: 5px;
    margin: 20px;
    width: 300px;
}

button {
    background-color: rgb(52, 52, 221);
    color: white;
    margin: 10px;
    padding: 4px;
    width: 25%;
}



.current-city {
   padding: 3%;
    margin-top: -170px;
    margin-right: 250px;
    border: 1px solid grey;
    float: right;
    width: 50%;
    
}
.weather-search-info {
    float: left;
    width: 50%;
    padding: 3%;
}


.five-day-forecast {
    padding: 3%;
    margin-top: 5px;
    margin-right: 250px;
    width: 50%;
    float: right;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    border: 1px solid;
}

.day{
    background-color: blue;
    color: white;
    padding: 1%;
    margin: 1%;
    width: 15%;
    max-width: 28%;
    border: 1px dotted rgb(187, 34, 34);
}


.day-2 {
    background-color: blue;
    height: 100%;
    color: white;

}


.day-3 {
    background-color: blue;
    height: 100%;
    color: white;

}

.day-4 {
    background-color: blue;
    height: 100%;
    color: white;

}

.day-5 {
    background-color: blue;
    height: 100%;
    color: white;

}