*{
    padding: opx;
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1{
   background-color: blue;
   color: white;
   text-align: center;
   border: 10px solid blue
}
.container{
    font-size: 30px;
    display: inline;
    padding: 10px;
   
    
}
.search{
    padding: 5px;
    margin: 10px;
    width: 300px;
   }
    
button{
    background-color:rgb(52, 52, 221);
    color:white;
    padding: 5px;
    margin: 20px;
    width: 300px;
   }
.current-city{
width: 30;
 padding: 80px;
 margin: 5px;
 height: 30px;
 border: 1px solid grey;
}
.weather-search-info{
display: flex;
float: left;
width: 50%;
}
.five-day-forecast{
    padding: 20px;
    margin: 10px;
    display:flex;
    justify-content:space-evenly;
    border:1px solid;
}



